
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins&display=swap');

.Hero {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 60px ;
    margin-top:50px;
    margin-right: 60px;
    padding: 30px 0px;
}

.Hero h1 {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 60px;
    line-height: 130%;
    color: #575757;
   

}
.head {
    background: linear-gradient(88.33deg, #FBA24F -7.64%, #FF1E1E 145.94%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

}

    .Hero p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
    letter-spacing: -0.02em;
    color: #828282;
    width: 499px;
    margin-bottom: 50px;
   
}

.Hero a {
    padding: 24px 32px;
    gap: 16px;
    background: linear-gradient(88.33deg, #FBA24F -7.64%, #FF1E1E 145.94%);
    box-shadow: 0px 2px 30px rgba(252, 143, 73, 0.5);
    border-radius: 100px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    color: #FFFFFF;
    text-decoration: none;  

}

.Hero img {
    width: 500px;
    height: 600px;
    padding-left: 50px;
}

.Person {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 60px ;
    margin-top:50px;
    margin-right: 60px;
    padding: 30px 0px;
    background-image: url(./shapes/7.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding:40px 50px;
}
.Person img {
    width: 400px;
    height: 600px;
    padding-left: 50px;
    padding-right: 50px;
}

.Person h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
    color: #707070;
}

.Person p{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    width: 444px;
    height: 160px;
    color: #18191F;
}
